<div class="article col {% if include.col %}{{ include.col }}{% else %}col-3 col-d-6{% endif %} col-t-12 animate grid__post">

  <div class="article__content">
    {% if post.image %}
    <div class="article__head">
      <div class="article__image">
        <a href="{{post.url | relative_url}}">
          <img class="lazy" data-src="{{post.image | relative_url}}" alt="{{post.title}}">
        </a>
      </div>
    </div>
    {% endif %}
  
    <div class="article__inner">
      {% if post.tags.size >= 1 %}
      <div class="article-tags__box">
        {% for tag in post.tags %}
          {% assign encoded_tag = tag | cgi_escape %}
          <a href="{{ '/tags/?tag=' | append: encoded_tag | relative_url }}" class="article__tag">{{ tag }}</a>
        {% endfor %}
      </div>
      {% endif %}
      <h2 class="article__title">
        <a href="{{ post.url | relative_url }}">{{post.title}}</a>
      </h2>

      <div class="article__meta">
        <time class="article__date" datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%d %-b, %Y" %}{{ post.date | date: date_format }} </time>
        <span class="article__minutes">
          {% assign words = post.content | number_of_words %}
          {% if words < 360 %}· 1 min read {% else %}· {{ words | divided_by:180 }} min read {% endif %} 
        </span>
      </div>
      
    </div>
    
  </div>

</div>