<!-- begin footer -->
<footer class="footer">

  <div class="container">
    <div class="row">
      <div class="col col-12">

        <div class="footer__inner">
          <div class="row">
            {% include footer-widgets/widget-info.html %}
            {% include footer-widgets/widget-recent-posts.html %}
            {% include footer-widgets/widget-navigation.html %}
          </div>
        </div>

        <div class="footer__info">
          <div class="copyright">{{site.time | date: '%Y'}} &copy; <a href="/">{{site.data.settings.title}}</a>, <a href="https://www.chu.ac.kr">Cheju Halla University</a>.</div>
          <div class="footer__info__right">
            {% if site.data.settings.color_scheme == "auto" %}
            <div class="toggle-theme">
              <div class="toggle-moon" title="Enable dark mode" aria-hidden="true"><i class="fa-solid fa-moon"></i> <span class="toggle-text">Dark</span></div>
              <div class="toggle-sun" title="Enable light mode" aria-hidden="true"><i class="fa-regular fa-sun"></i> <span class="toggle-text">Light</span></div>
            </div>
            {% elsif site.data.settings.color_scheme == "light" or site.data.settings.color_scheme == "dark" %}
            {% else %}
            <div class="toggle-theme">
              <div class="toggle-moon" title="Enable dark mode" aria-hidden="true"><i class="fa-solid fa-moon"></i></div>
              <div class="toggle-sun" title="Enable light mode" aria-hidden="true"><i class="fa-regular fa-sun"></i></div>
            </div>
            {% endif %}
            <div class="top" title="Top"><i class="fa-solid fa-arrow-up"></i> <span class="top__text">Back to top</span></div>
          </div>
        </div>

      </div>
    </div>
  </div>

</footer>
<!-- end footer -->

<script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
<script>
$(document).ready(function () {
  mermaid.initialize({
    startOnLoad: true,
    theme: "default",
  });
  window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
});
</script>
