<!-- begin header -->
<header class="header">
  <div class="container-big">
    <div class="row">
      <div class="header__inner col col-12">

        <div class="logo">
          <a class="logo__link" href="{{ site.baseurl }}/">
          {% if site.data.settings.logo or site.data.settings.logo_dark %}
            <img class="logo__image" src="{{ site.baseurl }}{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}">
            <img class="logo__image__dark" src="{{ site.baseurl }}{{ site.data.settings.logo_dark }}" alt="{{ site.data.settings.title }}">
          {% else %}
            {{ site.data.settings.title }}
          {% endif %}
          </a>
        </div>

        <div class="hamburger">
          <div></div>
        </div>

        <nav class="main-nav" aria-label="Main menu">
          <div class="main-nav__box">
            <ul class="nav__list list-reset">

            {% for item in site.data.settings.menu_settings.menu_items %}
              {% if item.submenu %}
              <li class="nav__item dropdown">
                <span class="nav__link dropdown-toggle">{{ item.title }} <i class="arrow-down fa-solid fa-chevron-down"></i></span>
                <div class="dropdown-menu">
                  {% for submenu-item in item.submenu %}
                    <a href="{{ submenu-item.url }}" class="nav__link{% if page.url == submenu-item.url %} active-link{% endif %}">{{submenu-item.title}}</a>
                  {% endfor %}
                </div>
              </li>
              {% else %}
              <li class="nav__item">
                <a href="{{ item.url | relative_url }}" class="nav__link{% if page.url == item.url %} active-link{% endif %}">{{ item.title }}</a>
              </li>
              {% endif %}
            {% endfor %}

            </ul>
          </div>
        </nav>

        {% if site.data.settings.social %}
        <div class="social-nav">
          <ul class="social__list list-reset">
            {% for social in site.data.settings.social %}
            <li class="social__item">
              <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener" aria-label="Social link"><i class="{{social.icon}}"></i></a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</header>
<!-- end header -->