{% if site.tags.size >= 1 %}
<!-- begin section-tags -->
<section class="section section-tags animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">

          {% if site.translations[site.lang].sections.tags_title %}
          <div class="section__info">
            <div class="section__head">
              <h3 class="section__title">{{ site.translations[site.lang].sections.tags_title }}</h3>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" width="52" height="12" fill="none"><path stroke="var(--accent-color)" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m2 1.734 8 8 8-8 8 8 8-8 8 8 8-8"/></svg>
          </div>
          {% endif %}

          {% comment %} Find top 7 most frequent tags {% endcomment %}
          {% assign top_tags = '' | split: ',' %}
          {% assign limit_count = 6 %}
          
          {% for i in (1..limit_count) %}
            {% assign current_max = 0 %}
            {% assign current_tag = '' %}
            {% for tag in site.tags %}
              {% assign tag_name = tag | first %}
              {% assign tag_count = tag | last | size %}
              {% assign already_selected = false %}
              {% for selected in top_tags %}
                {% if selected == tag_name %}
                  {% assign already_selected = true %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% unless already_selected %}
                {% if tag_count > current_max %}
                  {% assign current_max = tag_count %}
                  {% assign current_tag = tag_name %}
                {% endif %}
              {% endunless %}
            {% endfor %}
            {% if current_tag != '' %}
              {% assign top_tags = top_tags | push: current_tag %}
            {% endif %}
          {% endfor %}
  
          <div class="row">
            {% for tag_name in top_tags %}
            <div class="col col-2 col-w-3 col-d-4 col-t-6 col-m-12">
              {% assign encoded_tag = tag_name | uri_escape %}
              <a href="{{ '/tags/' | relative_url }}?tag={{ encoded_tag }}" class="tag-container">
                <div class="tag-image">
                  <img class="lazy" {% for post in site.tags[tag_name] %}{% if forloop.index==1 and post.image %} data-src="{{post.image | relative_url}}" alt="{{ post.title | default: tag_name }}" {% endif %}{% endfor %}>
                </div>
                <div class="tag-meta">
                  <span class="tag-name">{{ tag_name }}</span>
                  <span class="tag-count">{{ site.tags[tag_name].size }} {% if site.tags[tag_name].size < 2 %}{{ site.translations[site.lang].common.post }}{% else %}{{ site.translations[site.lang].common.posts }}{% endif %}</span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section-tags -->
{% endif %}