---
layout: default
title: 연구과제
<!-- description: Research projects that our members are working on. -->
description: 교수님과 학생연구원들이 진행하는 연구 프로젝트
image:
---

{% if page.image %}
<!-- begin hero image -->
<div class="hero__image">
  <div class="hero__image__inner">
    <img class="lazy" data-src="{{page.image}}" alt="{{site.data.settings.title}}">
  </div>
</div>
<!-- end hero image -->
{% endif %}

<!-- begin page-wrapper -->
<div class="page-wrapper">
  <div class="container">
    <div class="page-wrapper__info">
      <h1 class="page-info__title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.projects__settings.projects__title }}{% endif %}</h1>
      {% if page.description %}
        <p class="page-info__description">{{ page.description }}</p>
      {% endif %}
    </div>
  </div>

  <div class="container animate">
    <div class="row">
      {% for project in site.projects reversed %}
      <article class="project col col-4 col-w-6 col-t-12">
        <div class="project__content">
          {% if project.image %}
          <div class="project__head">
            <div class="project__image">
              <img class="lazy" data-src="{{ project.image }}" alt="{{ project.title }}">
            </div>
          </div>
          {% endif %}
          <div class="project__inner">
            <div class="project__info">
              {% if project.subtitle %}
              <div class="project__subtitle">{{ project.subtitle }}</div>
              {% endif %}
            </div>
            <h3 class="project__title">
              <a href="{{ project.url }}" class="project__link">{{ project.title }}</a>
            </h3>
            {% if project.summary %}
            <p class="project__excerpt">{{ project.summary }}</p>
            {% endif %}
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
  </div>
</div>
<!-- end page-wrapper -->