// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 16px;

// Border radius
$global-radius: 22px;

// Transition
$global-transition: all .25s;


// *****************
// Typography
// *****************
$base-font-size: 19px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: normal;
// $base-font-family: 'Mulish', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-font-family: 'Gowun Batang', Helvetica Neue, Helvetica, Arial, sans-serif;
$base-line-height: 1.6;

// Headings
$heading-font-weight: 700;
// $heading-font-family: 'Newsreader', 'Times New Roman', Georgia, serif;
$heading-font-family: 'Diphylleia', 'Times New Roman', Georgia, serif;
$base-line-height: 1.6;

$font-size-h1: 36px;
$font-size-h2: 28px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 18px;
$font-size-h6: 16px;

$heading-line-height: 1.3;
$heading-letter-spacing: normal;