<div class="col col-5 col-d-12">
  <div class="widget-footer widget-info">

    <div class="logo-footer">
      <a class="logo-footer__link" href="{{ site.baseurl }}/">
        {% if site.data.settings.logo or site.data.settings.logo_dark %}
        <img class="logo-footer__image" src="{{ site.baseurl }}{{ site.data.settings.logo }}" alt="{{ site.data.settings.title }}">
        <img class="logo-footer__image__dark" src="{{ site.baseurl }}{{ site.data.settings.logo_dark }}" alt="{{ site.data.settings.title }}">
        {% else %}
          {{ site.data.settings.title }}
        {% endif %}
      </a>
    </div>

    {% if site.data.settings.footer_description %}
    <p class="widget-footer__desc">{{site.data.settings.footer_description}}</p>
    {% endif %}

    <div class="social-footer">
      <ul class="social__list list-reset">
        {% for social in site.data.settings.social %}
        <li class="social__item">
          <a class="social__link" href="{{social.link}}" target="_blank" rel="noopener" aria-label="Social link"><i class="{{social.icon}}"></i></a>
        </li>
        {% endfor %}
      </ul>
    </div>

  </div>
</div>