/* Buttons */
.button {
  display: inline-block;
  padding: 20px;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  border-radius: 60px;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  will-change: transform;
  transition: all .2s;
  color: var(--button-color);
  background: var(--button-background-color);

  &:hover {
    transform: scale(1.05);
    color: var(--button-color-hover);
    background: var(--button-background-hover);
  }

  &--secondary {
    border: 1px solid var(--button-background-color);
    color: var(--button-background-color);
    background: transparent;

    &:hover {
      border-color: var(--button-background-hover);
      color: var(--button-background-hover);
      background: transparent;
    }
  }

  &--middle {
    padding: 20px 40px;
  }

  &--big {
    display: block;
    width: 100%;
  }

  @media (max-width: $tablet) {
    font-size: 16px;
  }
}