/* Gallery */
.gallery-box {
  margin: 32px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  align-content: center;
  grid-gap: 20px;

  .gallery__image {
    background: var(--background-color);

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @media (max-width: $tablet) {
    grid-gap: 12px;
  }
}