/* Social */
.social-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  
  @media (max-width: $desktop) {
    display: none;
  }
}

.social-footer {
  margin-left: -4px;
}

.social__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  margin-bottom: 0;
  margin-right: 12px;
  list-style: none;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  font-size: 21px;
  color: var(--heading-font-color);
  text-decoration: none;
  transition: color 0.25s ease;

  &:hover {
    color: var(--primary-color);
  }
}